<nav class="navbar navbar-expand-lg bg-primary navbar-dark py-1">
    <div class="container">
        <div class="navbar-header">
            <!--Link logo-->
            <a class="navbar-brand mx-1" href="#home">
                <!--image logo-->
                <img width="60" height="60" alt="Angular Logo" src="assets/img/logopeluchin.png" alt="">
                <!--//image logo-->
                <!--Titulo Logo-->
                <h5 class="d-inline align-ming serveddle mx-1 text-light">Refugio Peluchin</h5>
                <!--Titulo Logo-->
            </a>
            <!--//Link logo-->
        </div>
        <!--Profile Icon-->
        <a id="btnUser" href="../../acrosspages/perfiliconusuario.html" class="navbar-item ">
            <div class="d-inline circle bg-printalo-greenDetail">
                <!--Initial letter-->
                <div id="InicialCliente" class="center iconletter">
                </div>
                <!--Initial letter-->
            </div>
        </a>
        <!--//Profile Icon-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!--Link Agregar-->
                <li class="nav-item">
                    <a href="" class="nav-link text-light active">Agregar Perros</a>
                </li>
                <!--//Link agregar-->
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4 mx-auto">
            <h3 class="text-center">Tabla de registro de perros</h3>
            <button class="btn btn-success" (click)="registrarpet()">Registrar nueva mascota</button>
            <table class="table table-striped text-center">
                <thead class="black white-text bg-primary">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Sexo</th>
                        <th scope="col">Raza</th>
                        <th scope="col">Edad (Años)</th>
                        <th scope="col"></th>
                        <th scope="col"></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mascota of mascotaArray; index as i">
                        <td>{{ mascota.nombre}}</td>
                        <td>{{ mascota.sexo}}</td>
                        <td>{{ mascota.raza}}</td>
                        <td>{{ mascota.edad}}</td>
                        <td><button class="btn btn-warning" (click)="editPet(mascota)"><i class="fa-solid fa-pen-to-square"></i></button></td>
                        <td><button class="btn btn-danger" (click)="deletePet(mascota)"><i class="fa-solid fa-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>
            <h3 class="text-center">Formulario para agregar perros</h3>
            <div class="card mt-4">
                <div class="card-body">
                    <div class="class-title">
                        Inserte una nueva mascota
                    </div>
                    <div class="form-group">
                        <input type="text" [(ngModel)]="selectedMascota.nombre" placeholder="Inserte el nombre" class="form-control text-center" />
                    </div>
                    <div class="form-group">
                        <label>Sexo :</label>
                        <select class="browser-default custom-select text-center" [(ngModel)]="selectedMascota.sexo">
              <option *ngFor="let sexo of sexoArray" [value]="sexo.sexo">
                {{sexo.sexo}}
              </option>
            </select>
                    </div>
                    <div class="form-group">
                        <label>Edad : </label>
                        <input type="number" [(ngModel)]="selectedMascota.edad" placeholder="Inserte la edad" class="form-control text-center" />
                    </div>
                    <div class="form-group">
                        <label>Raza : </label>
                        <input type="text" [(ngModel)]="selectedMascota.raza" placeholder="Inserte la raza" class="form-control text-center" />
                    </div>
                    <button *ngIf="!editar" (click)="addOrEdit()" class="btn bg-refugio-primary mx-1">
                      Registrar
                    </button>

                 
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
      <img
    width="300"
    alt="Angular Logo"
    src="assets/img/logopeluchin.png"
  />
    </div> -->
    </div>
</div>